# Check that there is correct spelling in all files
name: Check spelling

# Check spelling on the main branch only, as it takes quite long.
# Run this script on the 3rd day of the month.
# 3rd as the first letter of this repo is the 3rd letter in the alphabet.
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
  - cron: "0 0 3 * *"


jobs:
  check_spelling:

    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:

      - name: Set up Git repository
        uses: actions/checkout@v4

      - uses: igsekor/pyspelling-any@v1.0.4



